@model IEnumerable<mvcForum.Web.Areas.ForumAdmin.ViewModels.AddOn>
@{
	String ns = "MVCForum.ForumAdmin.AntiSpam.Index";
	ViewBag.Title = Html.LocalizedString("PageTitle", ns);
	Layout = "~/Areas/ForumAdmin/Views/Shared/adminlayout.cshtml";
}
<section id="stats">
	<div class="row-fluid">
		<div class="span12">
			<h2>@Html.LocalizedString("SubHeading", ns)</h2>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>@Html.LocalizedString("ColumnHeadingName", ns)</th>
						<th>@Html.LocalizedString("ColumnHeadingDescription", ns)</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
@foreach (var addon in Model.OrderBy(a => a.Name)) {
					<tr>
						<td>@addon.Name</td>
						<td>@addon.Description</td>
						<td><a class="btn btn-primary" href="@Url.Action("index", addon.ControllerName, new { area = "forumadmin" })">@Html.LocalizedString("EditAntiSpam", ns)</a></td>
					</tr>
}
				</tbody>
			</table>
		</div>
	</div>
</section>
